@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

#landingPage {
  font-family: 'Source Sans Pro', sans-serif !important;
}

body {
  background-color: #fafafa;
}

#header {
  height: 600px;
  padding: 100px 0;
}

.logo {
  font-weight: 700;
  font-size: 25px;
  color: #7d5a5a !important;
}

.bg-head {
  background: linear-gradient(100deg, #ffdcf7 30.05%, rgba(255, 143, 178, 0) 133.19%);
}

.header-title {
  font-size: 45px;
  font-weight: 700;
  color: #7d5a5a;
}

.header-desc {
  margin-top: 20px;
  font-size: 18px;
  color: #7d5a5a;
}

.sub-heading {
  font-size: 40px !important;
  color: #333;
}

.text-desc {
  color: #444;
  font-size: 18px;
}

.content-margin {
  margin: 50px auto;
}

#why {
  margin: 70px auto 150px auto;
}

.section-wrapper {
  position: relative;
  overflow: hidden;
}

.bg-img-fluid {
  border: 0;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  background-color: #343a40 !important;
  border-radius: 10px;
  position: relative;
  top: 0;
  width: 700px;
}

.position-right {
  right: -200px;
}

.position-left {
  left: -200px;
}

.round-hide {
  background-color: #fafafa;
  border-radius: 100px;
  color: white;
  margin-top: -28px;
  padding: 32px 0;

}

.round-hide::after {
  content: '';
}

.img-head {
  position: relative;
  bottom: 50px;
}

#features,
#history {
  background-color: #ccc;
}

#pricing {
  margin: 150px auto 100px auto;
}


.pricing {
  border-radius: 20px !important;
  background-color: #f9f9f9 !important;
}

.list-plans {
  margin: 30px 0;
}

.plan-item {
  margin-bottom: 15px;
}

.plan-item.x {
  opacity: 0.3;
}

.pricing.pro {
  border: 4px solid #a4c5c6 !important;
}

.pricing h4 {
  color: #444;
  font-size: 28px;
}

.discount {
  background-color: #a4c5c6;
  box-shadow: 5px -2px 10px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 20px 15px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 20px;
  right: -21px;
  top: -28px;
  color: #fafafa;
}

.btn-header {
  padding: 0.5rem 3rem !important;
}


/* Mobile */

@media screen and (max-width:991px) {
  .header-title {
    font-size: 30px;
  }

  .btn-header {
    margin-left: 5px !important;
    padding: 0.3rem 2rem !important;
  }
}

.footer {
  font-size: 16px !important;
}

@media screen and (max-width:767px) {
  .hide-mobile {
    display: none;
  }

  #header {
    height: 540px;
  }

  .discount {
    top: -30px;
    right: 0;
  }

  .left-header-mobile {
    padding-right: 15px !important;
  }

  .sub-heading {
    font-size: 35px !important;
  }

  .bg-img-fluid {
    width: auto;
  }

  #responsive .row {
    flex-direction: column-reverse;
  }

  #contact .col-md-4 {
    border-right: 0 !important;
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer span {
    margin-top: 10px;
  }
}

@media screen and (max-width:500px) {
  .left-header-mobile {
    text-align: center;
  }

  .sub-heading {
    font-size: 25px !important;
  }
}